<div class="login center-crop" layout="column"
  layout-align="center center" layout-fill >
  <div layout="column" class="pane md-padding">
    <h1 class="md-title">Iniciar Sesion</h1>

    <md-input-container>
      <label>Nombre de Usuario</label>
      <md-icon>people</md-icon>
      <input type="text" required>
    </md-input-container>
    <md-input-container>
      <md-icon>lock</md-icon>
      <label>Contraseña</label>
      <input type="password" required>
    </md-input-container>

    <div layout="row">
      <md-button class="md-flat md-primary" flex>Registrar</md-button>
      <md-button class="md-raised md-accent" flex>Entrar</md-button>
    </div>
  </div>
</div>
